@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400&display=swap');




:root {
  --primary-hue: 120deg;
  --primary-saturation: 60%;
  --primary-lightness: 25%;
}

.bigIcon{
  font-size:2.5em; 
}

p a {
  text-decoration: underline solid currentColor 1px;
  text-underline-offset: 6px;
  text-decoration-skip-ink: none;
}

html, body {
  font-weight: 400 !important;
  font-family: 'Karla', ui-sans-serif, system-ui, sans-serif !important;
}


@font-face {
    font-family: 'iconsVenmo';
    src: url('../fonts/iconsVenmo.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}



.icon {
    font-family: 'iconsVenmo';
    font-size: 2rem;
    line-height: 1;
}

  /* table cleanup */
table{
  display:table !important;
  width:100%;
}
table code{

  padding:.4em .6em !important;
  border: none;
}
th {
  text-align: left;
  position: sticky;
  top: 4rem;
  background-color: #ffffff;
  z-index: 10; /* Ensures the header is above other content */
  border: none !important;
  box-shadow: 0 1px 0 #ddd;
}

th:is(html[class~="dark"] *){
  background-color:#111111;
  box-shadow: 0 1px 0 #333; 
}

.fullToken td{
  padding-top: 1.2em !important;
  padding-bottom: 1.2em !important;
  vertical-align: top;
}
td, tr{
  border: none !important;
}
table .icon{
  font-size:1rem;
  display:inline-block;
  margin-left:5px;
}
table img{
  width:100px;
  height: auto;
}


/* add right align class */
.right, th.right{
  text-align: right;
}

/* thumbnail */

.thumbnail{
  position: relative;
  display: block;
  margin: 2rem 0;
  padding: 2rem;
  overflow-x: auto;
  border-radius: 0.5rem;
  background-color: #fafafa;
}

.thumbnail img{
  max-height: 400px; 
  max-width: 100%; 
  height: auto; 
  width: auto;
}
.figmaComponent img{
  max-width: 327px !important;
 }
.thumbnail:is(html[class~="dark"] *){
background-color: #1d2429;
}


/* Tips do's and don'ts */
.wrapper {
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  gap: 24px;
  margin-top: 2em;
}
.box {
  flex: 1;
  border-top: 4px solid;
  --tw-bg-opacity: 1;
  background-color: #f9f9fa;
  min-width: 300px;
  padding: 0 1.2em 1.2em 1.2em;
}

.box:is(html[class~="dark"] *) {
  background-color: #1d1f22;
}
.box h4 {
  margin-top: 1em;
}
.use {
  border-top-color: green;
}
.avoid{
  border-top-color: red;
}

.avoid svg {
  color: red; /* Targeting specific SVG elements */
}
.use svg {
  color: green; /* Targeting specific SVG elements */
}
